:root {
    --black: #000;
    --white: #fff;
    --green: #71c63e;
    --header: #444551;
    --background-dropdown-menu: #3c3c47;
    --border: #3f4048;
    --grey: #5f5e5e;
    --grey-line: #a1a1a1;
    --light-grey: #D8D8D8;
    --dark-blue-background: #05323a;
    --font: 'Hind', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

.logo {
    width: 160px;
    margin-right: 100px;
    padding-left: 20px;
}

/* DROPDOWNMENU
=============================== */

.my-navbar {
    background-color: var(--header);
    padding-left: 0;
}

.my-project .my-navbar.navbar-light a.my-navbar__link {
    color: var(--white);
}

.my-navbar li:not(:last-child) .my-navbar__link {
    border-right: 2px solid var(--border);
}

.my-navbar__dropdown .my-navbar__dropdown-menu {
    top: calc(100% + .5rem);
    margin-top: 0;
    border: none;
    background-color: var(--background-dropdown-menu);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}

.my-project .my-navbar__dropdown-menu a.my-navbar__dropdown-menu-link {
    color: var(--white);
}

.my-navbar__dropdown-menu a:not(:last-child) {
    border-bottom: 2px solid var(--header);
}

.my-project .my-navbar.navbar-light a.my-navbar__link:hover,
.my-project .my-navbar.navbar-light a.my-navbar__link:focus,
.my-project .my-navbar.navbar-light a.my-navbar__link:active,
.my-project .my-navbar.navbar-light .my-navbar__dropdown-menu a:hover,
.my-project .my-navbar.navbar-light .my-navbar__dropdown-menu a:focus,
.my-project .my-navbar.navbar-light .my-navbar__dropdown-menu a:active {
    color: var(--green);
}

.my-project .my-navbar .my-navbar__dropdown-menu a:hover,
.my-project .my-navbar .my-navbar__dropdown-menu a:focus,
.my-project .my-navbar .my-navbar__dropdown-menu a:active {
    background-color: unset;
}

@media (max-width: 991px) {
    .my-navbar li:not(:last-child) .my-navbar__link {
        border-right: none;
    }

    .my-project .my-navbar {
        padding: 0;
    }

    .logo {
        padding-top: 20px;
    }
}

/* SIDE
=============================== */



/* MAIN
==================================== */



// .aside {
//     grid-area: sidebar;
//     background-color: #caa227;

// }

// .header {
//     grid-area: header;
//     background-color: #08d17d;
// }

// .section {
//     grid-area: sect1;
//     background-color: #1c08d1;
// }

// .project_004 {
//     grid-area: main;
//     background-color: #d10808;
// }

// .table {
//     border-collapse: collapse;
//     border: 1px solid rgb(221, 36, 36);
//     letter-spacing: 2px;
// }

// .grid-container {
//     background-color: #a3a29f;
//     max-width: 96%;
//     padding-top: 50px;

//     border: 2px solid rgb(221, 36, 36);

//     // grid-gap: 20px;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: auto;
//     text-align: center;
//     // grid-template-areas:
//     //     "sidebar header header"
//     //     "sect1 header header"
//     //     "main footer project006";
// }

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    width: 96%;

    grid-template-columns: 10px [project-start] repeat(3, [content] 1fr) [project-end];
    grid-template-rows: repeat(5, [content] 1fr);
    grid-template-areas:
        "begin . project002 project002"
        "begin . project002 project002"
        "begin . . project006"
        "begin project007 project007 project006"
        "begin project007 project007 .";

    grid-gap: 10px;
    margin: 10px;
}

.grid>div {
    padding: 5px;
}

.grid>div>img {
    width: 100%;
}

.grid> :nth-child(1) {
    background-color: var(--light-grey);
    grid-row: begin;
    grid-column: begin;
}

.grid> :nth-child(2) {
    background-color:  var(--light-grey);
    grid-column: content;
    grid-row: 1;
}

.grid> :nth-child(3) {
    background-color:  var(--light-grey);
    grid-column: project002;
    grid-row: project002;
}

.grid> :nth-child(4) {
    background-color:  var(--light-grey);
    color: #800;
    grid-column: content;
    grid-row: 2;
}

.grid> :nth-child(5) {
    background-color:  var(--light-grey);
    grid-column: content;
    grid-row: 3;
}

.grid> :nth-child(6) {
    background-color:  var(--light-grey);
    grid-column: content 2;
    grid-row: 3;
}

.grid> :nth-child(7) {
    background-color:  var(--light-grey);
    grid-column: project006;
    grid-row: project006;
}

.grid> :nth-child(8) {
    background-color:  var(--light-grey);
    grid-column: project007;
    grid-row: project007;
}

.grid> :nth-child(9) {
    background-color:  var(--light-grey);
    grid-column: content 3;
    grid-row: 5;
}

// .grid>span {
//     background: repeating-linear-gradient(-45deg, rgba(255, 192, 0, .4), rgba(255, 192, 0, .4) 10px, transparent 10px, transparent 20px);
//     font: 11px/3px sans-serif;
//     height: 3px;
//     margin-top: -6px;
//     padding: 0 5px;
// }

// .grid>span:nth-of-type(n + 3) {
//     height: auto;
//     width: 3px;
//     margin: 2px 0 2px -6px;
//     padding: 20px 0 3px 0;
//     writing-mode: vertical-rl;
//     text-align: right;
// }

// .grid> :nth-child(10) {
//     grid-area: 1 / 1 / 1 / 5;
// }

// .grid> :nth-child(11) {
//     grid-area: 3 / 1 / 3 / 5;
// }

// .grid> :nth-child(12) {
//     grid-area: 1 / 1 / 3 / 1;
// }

// .grid> :nth-child(13) {
//     grid-area: 1 / 2 / 3 / 2;
// }

// .grid> :nth-child(14) {
//     grid-area: 1 / 3 / 6 / 3;
// }

// .grid> :nth-child(15) {
//     grid-area: 1 / 4 / 6 / 4;
// }

// .grid> :nth-child(16) {
//     grid-area: 1 / 5 / 6 / 5;
// }
