:root {
    --black: #000;
    --white: #fff;
    --green: #71c63e;
    --light-green: #517040;
    --header: #444551;
    --background-dropdown-menu: #3c3c47;
    --background: rgba($color: rgb(90, 90, 90), $alpha: 0.9);
    --border: #3f4048;
    --grey: #5f5e5e;
    --grey-line: #a1a1a1;
    --light-grey: #D8D8D8;
    --dark-blue-background: #05323a;
    --footer: #575757;
    --font: 'Roboto Condensed', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 16px;
    color: var(--white);
    min-height: 100vh;
    margin: 0;
    background-color: var(--background);
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -3;
}

.logo {
    width: 160px;
    margin-right: 100px;
    padding-left: 20px;
}

.logoFooter {
    width: 40px;
}

.archi-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 120px;
    padding-bottom: 50px;
}

.archi-container {
    width: 90%;
    margin: 0 auto;
}

.image {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.image:hover img {
    transform: scale(1.15);
    display: inline;
}

img {
    transition: transform 1s;
}

.image-desc {
    display: none;
    position: absolute;
    top: 30%;
    left: 20px;
    width: 100%;
    font-size: 20px;
    padding: 20px;

    & p {
        margin-top: 0em;
        margin-bottom: 0em;
    }
}

.image:hover .image-desc {
    display: block;
}

.video {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 56.25%;
    /* 56.25% задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: auto;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.movie-fixed {
    max-width: 720px;
    max-height: 405px;
    margin: auto;
}


/* DROPDOWNMENU
=============================== */

.my-navbar {
    background-color: rgba($color: #444551, $alpha: 0.7);
    padding-left: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

.my-project .my-navbar.navbar-light a.my-navbar__link {
    color: var(--white);
}

.my-navbar li:not(:last-child) .my-navbar__link {
    border-right: 2px solid rgba($color: #3f4048, $alpha: 0.3);
}

.my-navbar__dropdown .my-navbar__dropdown-menu {
    top: calc(100% + .5rem);
    margin-top: 0;
    border: none;
    background-color: rgba($color: #444551, $alpha: 0.7);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}

.my-project .my-navbar__dropdown-menu a.my-navbar__dropdown-menu-link {
    color: var(--white);
}

.my-navbar__dropdown-menu a:not(:last-child) {
    border-bottom: 2px solid rgba($color: #3f4048, $alpha: 0.3);
}

.my-project .my-navbar.navbar-light a.my-navbar__link:hover,
.my-project .my-navbar.navbar-light a.my-navbar__link:focus,
.my-project .my-navbar.navbar-light a.my-navbar__link:active,
.my-project .my-navbar.navbar-light .my-navbar__dropdown-menu a:hover,
.my-project .my-navbar.navbar-light .my-navbar__dropdown-menu a:focus,
.my-project .my-navbar.navbar-light .my-navbar__dropdown-menu a:active {
    color: var(--green);
}

.my-project .my-navbar .my-navbar__dropdown-menu a:hover,
.my-project .my-navbar .my-navbar__dropdown-menu a:focus,
.my-project .my-navbar .my-navbar__dropdown-menu a:active {
    background-color: unset;
}

.navbar-nav__my992 {
    display: none;
}

@media (max-width: 991px) {
    .my-navbar li:not(:last-child) .my-navbar__link {
        border-right: none;
    }

    .my-project .my-navbar {
        padding: 0;
    }

    .logo {
        padding-top: 20px;
    }
}

/* MAIN
==================================== */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-shadow: 0 0 0.5em rgb(77, 77, 77), 0 0 0.5em rgb(77, 77, 77), 0 0 0.5em rgb(77, 77, 77);
    z-index: 5;
}

.line {
    top: 0;
    left: 0;
    background: linear-gradient(20deg, #b6afaa, #a3c2d1, #b3af7f 20%, #9bbbb0, #8d8d5b 50%, #91afa6, );
    opacity: 0.5;
}

.grid {
    display: grid;
    width: 96%;

    grid-template-columns: 10px [project-start] repeat(3, [content] 1fr) [project-end];
    grid-template-rows: repeat(18, [content] 1fr);
    grid-template-areas:
        "begin . project002 project002"
        "begin . project002 project002"
        "begin . . ."
        "begin project007 project007 ."
        "begin project007 project007 ."
        "begin . . ."
        "begin . project014 project014"
        "begin . project014 project014"
        "begin . . ."
        "begin project019 project019 ."
        "begin project019 project019 ."
        "begin . . ."
        "begin . project026 project026"
        "begin . project026 project026"
        "begin . . ."
        "begin project031 project031 ."
        "begin project031 project031 ."
        "begin . . ."
        "begin . project038 project038"
        "begin . project038 project038";

    grid-gap: 10px;
    margin: 10px;
}

.grid>div>img {
    width: 100%;
}

.grid> :nth-child(1) {
    background-color: var(--light-grey);
    grid-row: begin;
    grid-column: begin;
}

.grid> :nth-child(2) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 1;
}

.grid> :nth-child(3) {
    background-color: var(--light-grey);
    grid-column: project002;
    grid-row: project002;
}

.grid> :nth-child(4) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 2;
}

.grid> :nth-child(5) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 3;
}

.grid> :nth-child(6) {
    background-color: var(--light-grey);
    grid-column: content 2;
    grid-row: 3;
}

.grid> :nth-child(7) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 3;
}

.grid> :nth-child(8) {
    background-color: var(--light-grey);
    grid-column: project007;
    grid-row: project007;
}

.grid> :nth-child(9) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 4;
}

.grid> :nth-child(10) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 5;
}

.grid> :nth-child(11) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 6;
}

.grid> :nth-child(12) {
    background-color: var(--light-grey);
    grid-column: content 2;
    grid-row: 6;
}

.grid> :nth-child(13) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 6;
}

.grid> :nth-child(14) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 7;
}

.grid> :nth-child(15) {
    background-color: var(--light-grey);
    grid-column: project014;
    grid-row: project014;
}

.grid> :nth-child(16) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 8;
}

.grid> :nth-child(17) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 9;
}

.grid> :nth-child(18) {
    background-color: var(--light-grey);
    grid-column: content 2;
    grid-row: 9;
}

.grid> :nth-child(19) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 9;
}

.grid> :nth-child(20) {
    background-color: var(--light-grey);
    grid-column: project019;
    grid-row: project019;
}

.grid> :nth-child(21) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 10;
}

.grid> :nth-child(22) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 11;
}

.grid> :nth-child(23) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 12;
}

.grid> :nth-child(24) {
    background-color: var(--light-grey);
    grid-column: content 2;
    grid-row: 12;
}

.grid> :nth-child(25) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 12;
}

.grid> :nth-child(26) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 13;
}

.grid> :nth-child(27) {
    background-color: var(--light-grey);
    grid-column: project026;
    grid-row: project026;
}

.grid> :nth-child(28) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 14;
}

.grid> :nth-child(29) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 15;
}

.grid> :nth-child(30) {
    background-color: var(--light-grey);
    grid-column: content 2;
    grid-row: 15;
}

.grid> :nth-child(31) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 15;
}

.grid> :nth-child(32) {
    background-color: var(--light-grey);
    grid-column: project031;
    grid-row: project031;
}

.grid> :nth-child(33) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 16;
}

.grid> :nth-child(34) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 17;
}

.grid> :nth-child(35) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 18;
}

.grid> :nth-child(36) {
    background-color: var(--light-grey);
    grid-column: content 2;
    grid-row: 18;
}

.grid> :nth-child(37) {
    background-color: var(--light-grey);
    grid-column: content 3;
    grid-row: 18;
}

.grid> :nth-child(38) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 19;
}

.grid> :nth-child(39) {
    background-color: var(--light-grey);
    grid-column: project038;
    grid-row: project038;
}

.grid> :nth-child(40) {
    background-color: var(--light-grey);
    grid-column: content;
    grid-row: 20;
}

.about-us {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 0px 10px 120px 10px;

    &__text {
        width: 72%;
        margin: 10px;
    }
}

.selfie {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0px 0px 19px 6px rgba(165, 165, 165, 0.89);
}

/* FOOTER
========================================================== */
.scroll-up {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.scroll-up__icon {
    width: 20px;
}

.archi-footer {
    height: 220px;
    background: rgba($color: #444551, $alpha: 0.7);
    color: var(--white);
    font-size: 16px;
    font-family: var(--font);
    margin-inline-end: auto;
    display: flex;
    align-items: center;

    &__left {
        margin-inline-end: auto;
    }
}

.nav_archi-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.archi-footer__logo {
    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: var(--white);
    margin-inline-end: auto;
}

.footer__contacts {
    text-align: right;
}

.archi-footer-socials {
    display: flex;
    align-items: center;
}

.archi-footer__link {
    padding-left: 20px;
}

/* Particles JS - анімований фон
==================================== */

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: rgb(90, 90, 90), $alpha: 0.9);
    background-image: url(""); //("../../src/images/Offer.jpg")
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

#page-wrapper {
    position: relative;
}

/* DOTS
========================================================== */

// .dots {
//     position: fixed;
//     top: 46%;
//     transform: rotate(90deg) translateZ(1px);
//     right: 0.9%;
//     z-index: 10;

//     & a {
//         display: inline-block;
//         margin-right: 7px;

//     }

//     &__active {

//         & .dots__1 {

//             &:before {
//                 height: 1.6rem;
//                 transition: all .5s;
//             }
//         }

//         & .dots__2 {


//             &:before {
//                 height: 2rem;
//                 transition: all .5s;
//             }
//         }

//         & .dots__3 {

//             &:before {
//                 height: 2.4rem;
//                 transition: all .5s;
//             }
//         }

//         & .dots__4 {

//             &:before {
//                 height: 2.8rem;
//                 transition: all .5s;
//             }
//         }

//         & .dots__5 {

//             &:before {
//                 height: 2.2rem;
//                 transition: all .5s;
//             }
//         }

//         & .dots__6 {

//             &:before {
//                 height: 2.8rem;
//                 transition: all .5s;
//             }
//         }

//         & .dots__7 {

//             &:before {
//                 height: 2.2rem;
//                 transition: all .5s;
//             }
//         }

//         & .dots__8 {

//             &:before {
//                 height: 2.0rem;
//                 transition: all .5s;
//             }
//         }
//     }

//     &__main {
//         width: .58rem;
//         height: 1.2rem;
//         position: relative;


//         &:before {
//             content: '';
//             position: absolute;
//             top: 0%;
//             right: 50%;
//             transform: translate(-50%, 0%);
//             background-color: rgba($color: #444551, $alpha: 0.5);;
//             border: 1px solid var(--white);
//             border-radius: 3rem;
//             height: inherit;
//             width: inherit;
//             transition: all .5s;
//         }
//     }
// }

/*...............Loading animation*/
.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.preloader span {
    display: block;
    height: 15px;
    width: 10px;
    background: #19e3d5;
    margin: 0 7px;
    border-radius: 10px;
    animation: 1.2s upDown infinite;
}

.preloader span:first-child {
    animation-delay: .15s;
}

.preloader span:nth-child(2) {
    animation-delay: .3s;
}

.preloader span:nth-child(3) {
    animation-delay: .45s;
}

.preloader span:nth-child(4) {
    animation-delay: .6s;
}

.preloader span:last-child {
    animation-delay: .75s;
}

@keyframes upDown {
    0% {
        height: 15px;
        background: #19e3d5;
    }

    50% {
        height: 60px;
        background: #d33deb;
    }

    100% {
        height: 15px;
        background: #f00e43;
    }
}

/*.....................Responsive*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 80%;
        margin: auto;
    }

    .video iframe {
        top: 10%;
        width: 80%;
        height: 80%;
    }

    .archi-title {
        font-size: 22px;
        padding-top: 80px;
        padding-bottom: 20px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {

    .navbar-collapse_MY {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .navbar-nav__my {
        display: none;
    }

    .navbar-nav__my992 {
        display: flex;
        flex-direction: row;
        padding: 3px;
    }

    .my-navbar__linkENUA {
        border-right: 2px solid rgba($color: #3f4048, $alpha: 0.3);
    }

    .video iframe {
        top: 7%;
        width: 86%;
        height: 86%;
    }

    .archi-title {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .image-desc {
        font-size: 18px;
    }

    .logo {
        margin-right: 0;
        padding-left: 10px;
        padding-bottom: 10px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {

    .content {
        width: 90%;
    }

    .about-us {
        &__text {
            font-size: 14px;
        }
    }

    .selfie {
        width: 120px;
        height: 120px;
    }

    .archi-title {
        font-size: 20px;
    }

    .archi-footer {
        font-size: 14px;
    }

    .archi-footer__logo {
        font-size: 15px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .image-desc {
        font-size: 16px;
    }
}